<%- include('../includes/head.ejs',{pageTitle:pageTitle})%>
<style>
    .boxe{
        background-color: rebeccapurple;
    }
</style>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="order_grid">
        <% if(orders.length>0){%>
            <ul >
                <% orders.forEach(order => { %>
                    <div class="order_card centered">
                        <li>
                            <h3>
                                Order: #<%= order._id %>
                                - 
                                <a href="/orders/<%= order._id %>">Invoice</a>
                            </h3>
                            <ul>
                                <% order.products.forEach(p => { %>
                                    <li><%= p.product.title %> (<%= p.quantity %>) </li>
                                <% }); %>
                            </ul>
                        </li>
                    </div>
                    <br>
                <% }); %>
            </ul>
            
        <% }else{ %>
            <h1>Nothing to show here :)</h1>
        <% } %>
    </main>
    <!-- <div class="container text-center">
        <% if(orders.length>0){%>
            <div class="row justify-content-md-center">
                <% orders.forEach(order=> { %>
                    <div class="col-md-8 boxe">column1</div>
                <%});%>
            </div>
        <% }else{ %>
            <h1>Nothing to show here :)</h1>
        <% } %>
    </div> -->
<%- include('../includes/end.ejs') %>