<%- include('../includes/head.ejs',{pageTitle:pageTitle})%>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main align="center" >
        <!-- <h1>Product Details</h1> -->
        <h1><%= pageTitle %></h1>
        <hr>
        <div>
            <img class="main-header__image" src="/<%= product.imageUrl %>" alt="<%= product.title %>">
        </div>
        <h2> &#8377 <%= product.price %></h2>
        <p><%= product.details %></p>
        <% if(isAuthenticated){%>
        <form action="/cart" method="post">
            <button class="btn" type="submit">Add to Cart</button>
            <input type="hidden" name="productId" value="<%=product._id%>">
        </form>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>